/* CSS file for large-form header/footer */

nav {
    display: block !important;
}

.menu-button {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 10px 20px;
}

header img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
}